<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello there!</title>
    <link rel="stylesheet" href="/album.css">
</head>
<body>
<form action="/addAlbum" method="post">
    <fieldset>
        <legend>Add Album</legend>
        <label for="title">Album Title</label>
        <input type="text" name="title" id="title">
        <label for="artist">Album Artist</label>
        <input type="text" name="artist" id="artist">
        <label for="songCount">Song Count</label>
        <input type="text" name="songCount" id="songCount">
        <label for="length">Length</label>
        <input type="text" name="length" id="length">
        <label for="imageUrl">Url to Album Cover</label>
        <input type="text" name="imageUrl" id="imageUrl">
        <label for="imageLocal">Local File Path</label>
        <input type="text" name="imageLocal" id="imageLocal">
        <input type="submit" value="Add Album">
    </fieldset>
</form>
<div>
    <ul th:each="album : ${albums}">
        <h2><p th:text="'Album Title: ' + ${album.title}"/></h2>
        <img th:src="@{${album.imageLocal}}"/>
        <p th:text="${album.imageUrl}"/>
        <li th:text="'Album Artist: ' + ${album.artist}"/>
        <li th:text="'Album Song Count: ' + ${album.songCount}"/>
        <li th:text="'Album Length: ' + ${album.length} + 'seconds'"/>
        <li th:text="'Album Artist: ' + ${album.artist}"/>
        <h2>Songs</h2>
        <ul th:each="song : ${album.songsInAlbum}">
            <li th:text="${song.trackNumber} + '.' + ${song.title}"/>
        </ul>
    </ul>
</div>
</body>